.triangle_3d {
    position: relative;
    height: 400px;
    background: black;
}

.triangle_3d * {
            margin: 0;
            padding: 0;
        }

        .triangle_3d .gallery {
            position: absolute;
            top:75PX;
            left:0;   
      right:0;
      margin:0 auto;        
            width: 20em;
            height: 20em;
            transform-style: preserve-3d;           
            list-style: none;
      
      
           
        }

        @keyframes rotate_triangle {
     from {
        transform: rotateX(0deg) rotateY(0deg);
      }

      to {
        transform: rotateX(360deg) rotateY(360deg);
      }
      
        }

        .triangle_3d .gallery li, .triangle_3d .gallery a, .triangle_3d .gallery img {
            /*height: 100%;*/
            height: 100%;
        }

        .triangle_3d .gallery li {
            overflow: hidden;
            position: absolute;
            bottom: 6.7%;
            left: 0;
           transition: transform 0.2s ease-in;
        }

            .triangle_3d .gallery li:first-child {
                /* translate value should be l*sqrt(3)/6 = 20em*.288675 = 5.7735em */
                /* so why doesn't that work out right? */
                transform: rotateY(180deg) rotateX(19.471221deg) translateZ(2.62em);
            }

            .triangle_3d .gallery li:nth-child(2) {
                transform: rotateY(60deg) rotateX(19.471221deg) translateZ(2.62em);
            }

            .triangle_3d .gallery li:nth-child(3) {
                transform: rotateY(-60deg) rotateX(19.471221deg) translateZ(2.62em);
            }

            .triangle_3d .gallery li:nth-child(4) {
                    -webkit-transform: rotateX(90.100289deg) rotateY(0.572958deg) rotateZ(-0.427042deg) translateY(13px);
          transform: rotateX(90.100289deg) rotateY(0.572958deg) rotateZ(-0.427042deg) translateY(13px);
          bottom:-96px;
            }

      .triangle_3d .gallery li:nth-child(4) a{
        transform:translateY(-30%) rotate(30deg) skewY(30deg) scaleX(0.866);
      }
      
      .triangle_3d .gallery li:nth-child(4) a img{
        transform:scaleX(1.155) skewY(-31deg) rotate(-29deg) translateY(50%);
      }
            .triangle_3d .gallery li:after {
                display: block;
                position: absolute;
                bottom: 0;
                width: 100%;
                color: white;
               
            }

        .triangle_3d .gallery a, .gallery img {
            display: block;
      width:300px;
      height:300px;
  
        }

        .triangle_3d .gallery a {
            overflow: hidden;
            transform: translateY(50%) rotate(30deg) skewY(30deg) scaleX(.866);
        }

        .triangle_3d .gallery img {
            transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-50%);
        }
    
    .triangle_3d .gallery {
      animation: rotate_triangle 8s infinite linear;
    }