.body_consultancy {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    position: relative;
    height: 400px;
}

.body_consultancy #chartdiv {
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: 100%;
}